body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #e0e0e0;

  overflow-x: hidden;  

}
html {
  scrollbar-base-color: #000000;
  scroll-behavior: smooth;
}

section {
  transition: filter 0.5s ease; 
}

body::-webkit-scrollbar {
display: none;
}

nav {
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5090;
  position: fixed;

}

nav .logo {
    font-size: 2em;
    margin-left: 90px;
    margin-top: 30px;
    color: #fff;
}

nav ul {
  list-style: none;
  display: flex;
  margin-right: 20px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #e0e0e0;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #055199;
}

#intro {
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 0.1px 0.1px;
  margin-top: 50px; 

}

.hero-content h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 1.2em;
  margin-bottom: 100%;
}

.content,.intro {
  font-family: "Google Sans Mono";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0px;
  z-index: 999;

}
.intro{
 color: #515151;
 text-transform: lowercase;
 font-style: italic;
}
.content:hover {
  color: #055199;
}

section {
  padding: 60px 20px;
  margin-top: 50px;
}

h1, h2 {
  text-align: center;
  color: #fff;
}

.code-box {
  background-color: #333;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 45%;
}

pre {
  background-color: #424242;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

.floating-icons {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; ; 

}
.floating-icons i {
  position: absolute;
  font-size: 1.9rem; 
  opacity: 1;
  color: #5a5a5a;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.floating-icons i:nth-child(1) {
  animation: floatIcon1 30s infinite;
  animation-delay:-1s;
}
.floating-icons i:nth-child(2) {
  animation: floatIcon2 29s infinite;
  animation-delay: -1s;
}
.floating-icons i:nth-child(3) {
  animation: floatIcon3 30s infinite;
  animation-delay: -1s;
}
.floating-icons i:nth-child(4) {
  animation: floatIcon4 28s infinite;
  animation-delay: -1s;
}
.floating-icons i:nth-child(5) {
  animation: floatIcon5 30s infinite;
  animation-delay: -2s;
}
.floating-icons i:nth-child(6) {
  animation: floatIcon6 25s infinite;
  animation-delay: -1s;
}
.floating-icons i:nth-child(7) {
  animation: floatIcon7 23s infinite;
  animation-delay: -1s;
}
.floating-icons i:nth-child(8) {
  animation: floatIcon8 30s infinite;
  animation-delay: -1s;
}
.floating-icons i:nth-child(9) {
  animation: floatIcon9 16s infinite;
  animation-delay: -1s;
}
.floating-icons i:nth-child(10) {
  animation: floatIcon10 8s infinite;
  animation-delay: 9s;
}
.floating-icons i:nth-child(11) {
  animation: floatIcon11 11s infinite;
  animation-delay: 2s;

}
.floating-icons i:nth-child(12) {
  animation: floatIcon12 15s infinite;
  animation-delay: 4s;
}
.floating-icons i:nth-child(13) {
  animation: floatIcon13 12s infinite;
  animation-delay: 2s;
}
.floating-icons i:nth-child(14) {
  animation: floatIcon14 21s infinite;
  animation-delay: 1s;
}
.floating-icons i:nth-child(15) {
  animation: floatIcon15 13s infinite;
  animation-delay: 4s;
}
.floating-icons i:nth-child(16) {
  animation: floatIcon16 28s infinite;
  animation-delay: 5s;
}
.floating-icons i:nth-child(17) {
  animation: floatIcon17 28s infinite;
  animation-delay: 6s;
}

.floating-icons i:nth-child(18) {
animation: floatIcon18 28s infinite;
animation-delay: -1s;
}
.floating-icons i:nth-child(19) {
animation: floatIcon19 28s infinite;
animation-delay: -1s;
}

@keyframes floatIcon1 {
  0% { top: 10%; left: 10%; transform: rotate(-180deg);z-index: -2;}
  25% { top: 50%; left: 20%; transform: rotate(90deg); }
  50% { top: 80%; left: 60%; transform: rotate(180deg); color: #055199; opacity: 1;}
  75% { top: 20%; left: 90%; transform: rotate(270deg); z-index: -2;}
  100% { top: 10%; left: 10%; transform: rotate(360deg);}
}

@keyframes floatIcon2 {
  0% { top: 5%; left: 5%; transform: rotate(0deg); }
  25% { top: 70%; left: 30%; transform: rotate(45deg);  color: #055199; opacity: 1;}
  50% { top: 90%; left: 80%; transform: rotate(135deg); }
  75% { top: 40%; left: 70%; transform: rotate(225deg); }
  100% { top: 5%; left: 5%; transform: rotate(315deg); }
}

@keyframes floatIcon3 {
  0% { top: 30%; left: 30%; transform: rotate(0deg); }
  25% { top: 30%; left: 60%; transform: rotate(50deg); }
  50% { top: 50%; left: 10%; transform: rotate(100deg); }
  75% { top: 20%; left: 80%; transform: rotate(150deg);  color: #055199; opacity: 1;}
  100% { top: 0%; left: 30%; transform: rotate(200deg); }
}

@keyframes floatIcon4 {
  0% { top: 30%; left: 0%; transform: rotate(0deg); }
  25% { top: 40%; left: 40%; transform: rotate(80deg); }
  50% { top: 60%; left: 90%; transform: rotate(160deg); }
  75% { top: 80%; left: 10%; transform: rotate(240deg); }
  100% { top: 30%; left: 0%; transform: rotate(320deg);  color: #055199; opacity: 1;}
}

@keyframes floatIcon5 {
  0% { top: 10%; left: 10%; transform: rotate(0deg); }
  25% { top: 50%; left: 50%; transform: rotate(100deg);  color: #055199; opacity: 1;}
  50% { top: 90%; left: 20%; transform: rotate(200deg); }
  75% { top: 30%; left: 90%; transform: rotate(300deg); }
  100% { top: 10%; left: 10%; transform: rotate(400deg); }
}

@keyframes floatIcon6 {
  0% { top: 20%; left: 50%; transform: rotate(0deg);  color: #055199; opacity: 1;}
  25% { top: 60%; left: 80%; transform: rotate(120deg); }
  50% { top: 90%; left: 30%; transform: rotate(240deg); }
  75% { top: 10%; left: 70%; transform: rotate(360deg); }
  100% { top: 20%; left: 50%; transform: rotate(480deg);  color: #055199; opacity: 1;}
}

@keyframes floatIcon7 {
  0% { top: 5%; left: 80%; transform: rotate(0deg);}
  25% { top: 40%; left: 10%; transform: rotate(90deg); }
  50% { top: 80%; left: 60%; transform: rotate(180deg);  color: #055199; opacity: 1;}
  75% { top: 10%; left: 30%; transform: rotate(270deg); }
  100% { top: 5%; left: 80%; transform: rotate(360deg);  }
}

@keyframes floatIcon8 {
  0% { top: 70%; left: 10%; transform: rotate(0deg); }
  25% { top: 30%; left: 80%; transform: rotate(45deg);  color: #055199; opacity: 1;}
  50% { top: 80%; left: 40%; transform: rotate(90deg); }
  75% { top: 50%; left: 10%; transform: rotate(135deg); }
  100% { top: 70%; left: 10%; transform: rotate(180deg); }
}

@keyframes floatIcon9 {
  0% { top: 50%; left: 50%; transform: rotate(0deg); }
  25% { top: 80%; left: 90%; transform: rotate(45deg); }
  50% { top: 20%; left: 30%; transform: rotate(90deg); }
  75% { top: 10%; left: 70%; transform: rotate(135deg); }
  100% { top: 50%; left: 50%; transform: rotate(180deg); }
}

@keyframes floatIcon10 {
  0% { top: 40%; left: 40%; transform: rotate(0deg); }
  25% { top: 70%; left: 10%; transform: rotate(90deg); }
  50% { top: 20%; left: 50%; transform: rotate(180deg); }
  75% { top: 60%; left: 80%; transform: rotate(270deg); }
  100% { top: 40%; left: 40%; transform: rotate(360deg); } 
}
@keyframes floatIcon11 {
  0% { top: 40%; left: 40%; transform: rotate(0deg); }
  25% { top: 70%; left: 10%; transform: rotate(90deg); }
  50% { top: 20%; left: 50%; transform: rotate(180deg); }
  75% { top: 60%; left: 80%; transform: rotate(270deg); }
  100% { top: 40%; left: 40%; transform: rotate(360deg); }
}
@keyframes floatIcon12 {
  0% { top: 10%; left: 10%; transform: rotate(0deg); }
  25% { top: 40%; left: 10%; transform: rotate(90deg); }
  50% { top: 60%; left: 50%; transform: rotate(180deg); }
  75% { top: 60%; left: 80%; transform: rotate(270deg); }
  100% { top: 10%; left: 10%; transform: rotate(360deg); }
}
@keyframes floatIcon13 {
  0% { top: 40%; left: 40%; transform: rotate(0deg); }
  25% { top: 20%; left: 10%; transform: rotate(90deg); }
  50% { top: 40%; left: 50%; transform: rotate(180deg); }
  75% { top: 50%; left: 80%; transform: rotate(270deg); }
  100% { top: 40%; left: 40%; transform: rotate(360deg); }
}
@keyframes floatIcon14 {
  0% { top: 80%; left: 80%; transform: rotate(0deg); }
  25% { top: 70%; left: 10%; transform: rotate(90deg); }
  50% { top: 20%; left: 50%; transform: rotate(180deg); }
  75% { top: 60%; left: 70%; transform: rotate(270deg); }
  100% { top: 80%; left: 80%; transform: rotate(360deg); }
}
@keyframes floatIcon15 {
  0% { top: 4%; left: 4%; transform: rotate(0deg); }
  25% { top: 70%; left: 10%; transform: rotate(90deg); }
  50% { top: 20%; left: 30%; transform: rotate(180deg); }
  75% { top: 60%; left: 80%; transform: rotate(270deg); }
  100% { top: 4%; left: 4%; transform: rotate(360deg); }
}
@keyframes floatIcon16 {
  0% { top: 7%; left: 7%; transform: rotate(0deg); }
  25% { top: 50%; left: 21%; transform: rotate(90deg); }
  50% { top: 30%; left: 60%; transform: rotate(180deg); }
  75% { top: 67%; left: 80%; transform: rotate(270deg); }
  100% { top: 7%; left: 7%; transform: rotate(360deg); }
}
@keyframes floatIcon17 {
  0% { top: 40%; left: 40%; transform: rotate(0deg); }
  25% { top: 70%; left: 10%; transform: rotate(90deg); }
  50% { top: 20%; left: 50%; transform: rotate(180deg); }
  75% { top: 60%; left: 80%; transform: rotate(270deg); }
  100% { top: 40%; left: 40%; transform: rotate(360deg); }
}
@keyframes floatIcon18 {
  0% { top: 0%; left: 0%; transform: rotate(0deg); }
  25% { top: 70%; left: 10%; transform: rotate(90deg); }
  50% { top: 20%; left: 50%; transform: rotate(180deg); }
  75% { top: 60%; left: 80%; transform: rotate(270deg); }
  100% { top: 0%; left: 0%; transform: rotate(360deg); }
}

@keyframes floatIcon19 {
0% { top: 130%; left: 130%; transform: rotate(-180deg);z-index: -2;}
25% { top: 50%; left: 20%; transform: rotate(90deg); }
50% { top: 80%; left: 60%; transform: rotate(180deg); color: #528abe; opacity: 1;}
75% { top: 20%; left: 90%; transform: rotate(270deg); z-index: -2;}
100% { top: 130%; left: 130%; transform: rotate(360deg);}
}
.about-text {
  width: 100%; 
  text-align: justify; 
}

@media (max-width: 768px) {
  nav .logo {
      font-size: 1.5em;
      margin-left: 50px;
  }

  nav ul {
      margin-right: 10px;
  }

  nav ul li {
      margin: 0 10px;
  }

  .hero-content h1 {
      font-size: 2em;
  }

  .hero-content p {
      font-size: 0.9em;
  }

  .code-box {
      width: 100%;
  }
}

@media (max-width: 480px) {
  nav .logo {
      font-size: 1.2em;
      margin-left: 20px;
  }

  nav ul {
      flex-direction: column;
      margin-right: 0;
  }

  nav ul li {
      margin: 5px 0;
  }

  .hero-content h1 {
      font-size: 1.5em;
  }

  .hero-content p {
      font-size: 0.8em;
  }

  .floating-icons i {
      font-size: 1.5rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .floating-icons i {
      font-size: 1.8rem;
  }

}

.work-experience h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #055199;
}

.work-experience p {
  font-size: 1.1rem;
  line-height: 1.8;
}

@media (max-width: 768px) {
  .proj {
      flex-direction: column;
      text-align: center;
  }
}

.timeline-section {
display: flex;
justify-content: space-between;
padding: 40px;
background-color: #121212;
color: #fff;
font-family: 'Arial', sans-serif;
position: relative;
z-index: 100; 
background: rgba(255, 255, 255, 0.1); 
backdrop-filter: blur(20px); 
-webkit-backdrop-filter: blur(10px); 
border-radius: 15px; 
padding: 40px;
color: #f5f5f5; 
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
cursor: url('/assets/cursor/cursor.png') 1 1, auto; 

}

.timeline-container {
display: flex;
width: 100%;
gap: 50px;
}

.timeline-column {
width: 50%;
}

.timeline-column h2 {
font-size: 24px;
margin-bottom: 20px;
color: #f0f0f0;
}

.timeline {
position: relative;
padding-left: 20px;
}

.timeline::before {
content: '';
position: absolute;
left: 10px;
top: 0;
bottom: 0;
width: 2px;
background: #666;
}

.timeline-item {
position: relative;
margin-bottom: 30px;
}

.timeline-item .dot {
position: absolute;
left: -15px; 
top: 0;
width: 12px;
height: 12px;
background: #055199;
border-radius: 50%;
z-index: 1; 
}

.timeline-content {
margin-left: 30px;
}

.timeline-content h3 {
font-size: 18px;
margin-bottom: 5px;
color: #fff;
}

.timeline-content p {
font-size: 14px;
color: #bbb;
margin: 5px 0;
}

.timeline-year {
font-size: 12px;
color: #999;
margin-top: 10px;
display: block;
}

.about-photo {
  width: 100%;
  height: 3000px;
  top: 0;
  background-image: 
      linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgb(0, 0, 0) 100%), 
      url('/ManojShettyK.png');
      
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100;
  position: relative;
}

@media (max-width: 768px) {

}

@media (max-width: 480px) {
  .about-photo { 
    margin-top: 30%;
      width: 70%; 
      top:6.5%;
      z-index: 101;
      position: relative;
  }
}

@media (min-width: 481px) and (max-width: 768px) {

  .floating-icons i {
      font-size: 1.8rem;
  }
  .about-photo{
      width: 90%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {

  .floating-icons i {
      font-size: 1.8rem;
  }
  .about-photo{
      width: 90%;
  }
}

body.zoom-in {

.content{
font-size: calc(1rem * 1.5);
}

  font-size: calc(1rem * 0.5); 
  background-color: #000000;  
}

body.zoom-out {
.content{
  font-size: 12rem;
}
  font-size: calc(1rem * 2.9); 
  background-color: #000000;  
}

#about{
  padding: 0;
}

.about-text {
width: 100%; 
text-align: justify; 
}

.about-text h2 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #aaa;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about-text p {
  font-size: 32px;
  line-height: 1.5;
  font-weight: 300;

}

.timeline-section {
  position: relative;
  z-index: 101; 
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(20px); 
  -webkit-backdrop-filter: blur(10px); 
  border-radius: 15px; 
  padding: 40px;
  color: #f5f5f5; 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; 

  gap: 20px;
}

.timeline-section h2,
.timeline-section p {
  color: #ffffff;
}

 .timeline-container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.timeline-column {
  flex: 1;
}

.timeline-column h2 {
  text-transform: uppercase;
  font-size: 18px;
  color: #aaa;
  margin-bottom: 20px;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.button {
  width: 200px;
  margin: 150px auto;
  width: 100%; 
    max-width: 100%;
}

.button a {

  display: block;
  height: 50px;
  width: 200px;
  color: white;
  font: 17px/50px sans-serif,Helvetica;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  background: #355C7D; 
  width: 100%; 
    max-width: 100%;
}

.button p {
  background: #6C5B7B;
  display: block;
  height: 40px;
  width: 180px;
  margin: -50px 0 0 10px;
  text-align: center;
  font: 14px/45px sans-serif,Helvetica;
  color: #eee;
  position: absolute;
  z-index: -1;
  -webkit-transition: margin 0.7s cubic-bezier(0.6, -0.28, 0.74, 0.05);
  -moz-transition: margin 0.7s cubic-bezier(0.6, -0.28, 0.74, 0.05);
  -o-transition: margin 0.7s cubic-bezier(0.6, -0.28, 0.74, 0.05);
  -ms-transition: margin 0.7s cubic-bezier(0.6, -0.28, 0.74, 0.05);
  transition: margin 0.7s cubic-bezier(0.6, -0.28, 0.74, 0.05);
  width: 100%; 
    max-width: 100%;
}

.button a, p {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 13px;
  -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  -moz-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  width: 100%; 
    max-width: 100%;
}

.button:hover .bottom { 
margin: -10px 0 0 10px ;
width: 100%; 
    max-width: 100%;
}

.button:hover .top {

  line-height: 35px;
  width: 100%;
    max-width: 100%;
}

#intro {
  margin-bottom: 0;
  padding-bottom: 0;
}

#about {
  margin-top: 0;
  padding-top: 0;
}
section {
  scroll-margin-top: 100px; 
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000; 
  z-index: 1000;
}

.about-text h2 {
font-size: 2.5em;
margin-bottom: 20px;
color:  #055199;
}

.about-text p {
font-size: 1.2em;
line-height: 1.8;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
max-width: 1700px;

margin: 0 auto; 
position: relative;
top: 50%; 
transition: all 0.3s ease;
}

.timeline-column h2 {
color: #055199;
margin-bottom: 15px;
font-size: 1.8em;
text-transform: uppercase;
}

.timeline-item {
position: relative;
padding: 10px 20px;
margin-bottom: 20px;
}

.dot {
  margin-top: 30px;
  position: absolute;
top: 10px;
left: -9px;
width: 15px;
height: 15px;
background: #ffffff;
border-radius: 50%;
}

.timeline-content h3 {
font-size: 1.4em;
color: #ffffff;
}

.timeline-content .timeline-year {
font-size: 0.9em;
color: #bbbbbb;
margin-bottom: 10px;
display: block;
}

.timeline-content p {
font-size: 0.95em;
line-height: 1.6;
color: #cccccc;
}

.button {
margin-top: 30px;
text-align: center;
}

.button {
color: #ffffff;
padding: 0;
border-radius: 30px;
text-decoration: none;
font-size: 1em;
transition: 0.3s ease;
}


.top {
margin-top: 10px;
font-size: 0.9em;
color: #aaaaaa;
}

 .proj img {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom:0;
}

.proj ul {
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  text-align: center;
  scroll-behavior: smooth;
}

.proj li {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: min(50vw, 350px);
  display: inline-block;
  text-align: center;
  background-color: #16171f;
  color: #9b9dad;
  padding-bottom: 0rem;
  font-size: clamp(18px, 2.5vw, 22px);
  box-shadow: -10px 0 30px 0 rgba(#000, 0.25);
  margin-left: -4px;
}

*,
body,
html {
&::-webkit-scrollbar {
  background-color: #1e1f26;
  height: 20px;
  width: 20px;
}

&::-webkit-scrollbar-thumb {
  background: #383d4d;
  border-radius: 99em;
  border: 6px solid #1e1f26;
}
}

p{
box-shadow: none;
}
.interests {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  width: 100%;
  margin-bottom: 30px;

  box-sizing: border-box;
}

.interest-item {
  text-align: center;
  font-size: 20px;
}

.interest-item i {
  font-size: 50px;
  color: #4a90e2;
  margin-bottom: 10px;
  transition: transform 0.3s;
}

.interest-item:hover i {
  transform: scale(1.2);
}

.description {
margin-top: 20%;
max-width: 600px;
text-align: center;
font-size: 18px;
line-height: 1.6;
padding: 20px;
border-radius: 12px;
color: #333;
margin: 0 auto; 
position: relative;
top: 50%; 
transform: translateY(-50%); 
transition: all 0.3s ease;
}

.description {
max-width: 700px;
text-align: center;
font-size: 18px;
line-height: 1.8;
padding: 30px;
color: #fff; 
border-radius: 15px; 
margin: 0 auto;
position: relative;
top: 50%;
transform: translateY(-50%);
transition: all 0.3s ease;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
letter-spacing: 0.5px; 
}

.description p {
color: #d1d1d1; 
font-size: 20px; 
line-height: 1.7; 
}

.funfact {

color: white; 
line-height: 5px; 
padding: 10px 20px; 
font-size: 1.2em; 
font-family: 'Arial', sans-serif; 
border-radius: 10px; 
text-align: center; 
animation: partyTextColor 1s infinite alternate; 
}

@keyframes partyTextColor {
0% {
    color: #ff00ff; 
}
25% {
    color: #00ffcc; 
}
50% {
    color: #ffcc00; 
}
75% {
    color: #00ffff; 
}
100% {
    color: #ff0000; 
}

}

@media (max-width: 600px) {
.funfact{
  display: none;
}
.button p{
  display:none;
}
.botton a{
  align-items: center;
  size: 10%;
  color: #000;
}
.about-text p{
  font: 2em sans-serif;
  max-width: 380px;

}
.description{
  font: 2em sans-serif;
  max-width: 400px;
margin-left: -5%;  }
.interest-item i{

  font-size:32px;
}  
.interest-item p{
  font-size:10px;
}
}

@media (max-width: 768px) {
.funfact{display: none;}
 .button p{
  display:none;
}
.botton a{
  align-items: center;
  size: 10%;
  color: #000;
}
.about-text p{
  font: 2em sans-serif;
  max-width: 380px;
}
.description{
  font: 2em sans-serif;
  max-width: 400px;  }
.interest-item i{
  font-size:32px;
}  
.interest-item p{
  font-size:15px;
}
}

@media (min-width< 1200px ) and (min-width >768) {

.button p{
  display:none;
}
.botton a{
  align-items: center;
  size: 10%;
  color: #000;
}
.about-text p{
  font: 3em sans-serif;
  max-width: 90%;
  color: #000;
}
.description{
  font: 2em sans-serif;
  max-width: 400px;  }
.interest-item i{
  font-size:32px;
}  
.interest-item p{
  font-size:15px;
}
}

.description {
bottom: -20px;
width: 100%;                 
max-width: 100%;             
margin: 0 auto;              
padding: 0 16px;             
text-align: center;          
line-height: 1.6;            
overflow-wrap: break-word;   
box-sizing: border-box;      
font: 1em sans-serif;
}
.funfact{
margin-bottom: 30%;
width: 100%;                 
max-width: 100%;             
margin: 0 auto;              
padding: 0 16px;             
text-align: center;          
line-height: 12;            
overflow-wrap: break-word;   
box-sizing: border-box;      
font: 1em sans-serif;}

.timeline-column {
overflow: hidden; 
}
body.zoom-in {
.funfact{font-size: medium;}

.interest-item i{ 
font: 0.5em ;
}
.about-text p, .description{
font: 2em sans-serif;
max-width: 100%;             
margin: 0 auto;              
padding: 0 16px;             
text-align: center;          
line-height: 1.6;            
overflow-wrap: break-word;   
box-sizing: border-box;
}
}

body {
-webkit-user-select: none; 
-moz-user-select: none;    
-ms-user-select: none;     
user-select: none;         
}
#notification {
position: fixed;
bottom: 20px;
left: 50%;
transform: translateX(-50%);
background-color: rgba(0, 0, 0, 0.8);
color: white;
padding: 10px 20px;
border-radius: 5px;
font-family: Arial, sans-serif;
font-size: 14px;
z-index: 1000;
}

section {
text-align: center;
padding: 20px;
font-family: Arial, sans-serif;
}

.fun-facts {
display: flex;
flex-wrap: wrap;
gap: 20px; 
justify-content: center; 
}

.fact-box {
flex: 1 1 calc(30% - 20px); 
max-width: 300px; 
min-width: 150px; 
background: rgba(255, 255, 255, 0.08);
border: 1px solid rgba(255, 255, 255, 0.15);
border-radius: 10px;
padding: 20px;
text-align: center;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
transition: transform 0.3s ease, background 0.3s ease;
}

.fact-box:hover {
transform: translateY(-5px);
background: rgba(255, 255, 255, 0.12);
}

.counter {
font-size: 36px;
font-weight: bold;
color: #055199;
margin-bottom: 10px;
}

.fact-label {
font-size: 14px;
color: #ccc;
}

@media (max-width: 768px) {
.fun-facts {
  flex-direction: row; 
  justify-content: center; 
}

.fact-box {
  flex: 1 1 calc(50% - 20px); 
  max-width: 200px; 
  min-width: 150px; 
  padding: 10px; 
}

.counter {
  font-size: 20px; 
}

.fact-label {
  font-size: 12px; 
}
}

nav .logo {
font-size: 2em;
margin-left: 80px;
margin-top: 1%;
color: #fff;

}

.nav-container {
display: flex;
justify-content: center;
align-items: center;

}

.nav ul {
display: flex;
list-style: none;
padding: 0;
margin: 0;
}

.nav li {
margin: 0 15px;
}

.nav a {
text-decoration: none;
color: white;
font-size: 18px;
}

.menu-toggle {
display: none;
font-size: 24px;
cursor: pointer;
color: white;
}

@media (max-width: 768px) {
nav .logo {
  position:relative;

  font-size: 1.5em;
  margin-left: 70%;
  margin-top: 2%;
  color: #ffffff;

}

.nav-container {
  display: flex;
  position: fixed;
  top: 0;
  left: -100%;
  width: 250px;
  height: 100%;
  background-color: #121212;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 50px;
  transition: left 0.3s ease;
  z-index: 1000;
}

.nav ul {
  flex-direction: column;
}

.nav li {
  margin: 10px 0;
}

.menu-toggle {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
}

.nav-container.open {
  left: 0;
}
}


.about-photo {
  width: 100%;
  height: 3000px;
  position: relative;
  z-index: 100;
}

.about-photo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%, rgb(0, 0, 0) 100%);
  z-index: 1;
}

.about-photo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 100%;
  background-image: url('mm11.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
}
